<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://workfshopsendimagetoservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/dc31bc56-44f7-4763-8c5d-876ff3d96216/resourceGroups/Worksop/providers/Microsoft.Web/sites/WorkfshopSendImageToService</ResourceId>
    <UserName>$WorkfshopSendImageToService</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://workfshopsendimagetoservice.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>